h1{

    font-style: italic;
    color: blue;
    background-color: yellow;


}

p{
    font-style: oblique;
    color: rgb(0, 255, 55);
    background-color: rgb(255, 11, 11);

}

#segun{

    font-style: inherit;
    color: rgb(214, 167, 12);
    background-color: rgb(104, 21, 76);
}
#prime{

    font-style: italic;
    color: rgb(96, 96, 248);
    background-color: rgb(255, 187, 0);
}
body{
    background: rgb(34,193,195);
    background: linear-gradient(135deg, rgba(34,193,195,1) 23%, rgba(253,247,45,1) 100%); 
  }
